body{
    background-color: rgba(17, 70, 230, 0.333);
}

img {
    background-color: rgb(60, 168, 168);
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}


table{
    border-collapse: collapse;
    margin-bottom: 20px;
}

.violet {
    background-color: blueviolet;
    margin-left: 100%;
}

#etudes { 
    border: dotted;
    background-color: rgb(182, 29, 29);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;

}

#competences { 
    border: dotted;
    background-color: rgb(235, 211, 211);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

#experiences { 
    border: dotted;
    background-color: rgb(182, 29, 29);
    border-radius: 10px; 
    width: 100%;
    margin-bottom: 20px;
}

#divers{ 
    border: dotted;
    background-color: rgb(235, 211, 211);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;

}